#chatbox-modal {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    max-height: 80vh;
    z-index: 9999;
}

#chatbox-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.modal-dialog {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 500px;
    min-width: 50%;
}

.modal-content {
    height: 100%;
    border-radius: 0;
    overflow-y: hidden;
}

.modal-body {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 600px; /* Điều chỉnh chiều cao tùy ý */
    display: flex;
    flex-direction: column;
}

#chatbox-messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}


/* Giữ thanh nhập cố định */
.modal-footer {
    position: sticky;
    bottom: 0;
    background: white;
    padding: 10px;
    border-top: 1px solid #ddd;
}

